.footerr{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display:block;
    height: auto    ;
    z-index: 3;
    bottom: 0;
    position:relative;
}
.footerr p{
    margin: 0px;
}